.event-list-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:120px;
}


.event-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 120px 30px 120px;

}

@media(max-width:500px){
    .event-list{
        padding: 50px 170px 50px 170px;
    }
}